<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176703737429-vc5egpsbsi4sqhh82tgkhau3kpu97bra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176703737429-vc5egpsbsi4sqhh82tgkhau3kpu97bra</string>
	<key>API_KEY</key>
	<string>AIzaSyCKvwSq8SLaNtTX341QjQE55SjrgsBOoSw</string>
	<key>GCM_SENDER_ID</key>
	<string>176703737429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>fire-d-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-d-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176703737429:ios:3f5f0b0214862715594edc</string>
</dict>
</plist>